<launch>
    <!-- Launch the Turtlesim node -->
    <node name="turtlesim" pkg="turtlesim" type="turtlesim_node" output="log"/>  
    <!-- Launch Travel with boundry script -->
    <node name="turtlesim_tavel_with_boundries" pkg="turtlesim_my_controllers_pde4430_cw1" type="turtlesim_travelWithBoundries.py" output="screen"/>
</launch>
