<launch>
    <!-- Launch the Turtlesim node -->
    <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" output="screen"/>

    <!-- Start the program -->
    <node name="turtlesim_vacuum_cleaner_behaviour" pkg="turtlesim_my_controllers_pde4430_cw1" type="turtlesim_vacuumCleaningBehaviour.py" output="screen" />
</launch>