<launch>
    <!-- Start the turtlesim -->
    <node name="Turtlesim" pkg="turtlesim" type="turtlesim_node"/>  
    <!-- Run the teleop_key using keyboard -->
    <node name="Task_01_-_My_Teleop_Key" pkg="turtlesim_my_controllers_pde4430_cw1" type="turtlesim_myteleop_key.py" output="screen"/>
</launch>
