<launch>
    <!-- Start the turtlesim -->
    <node name="Turtlesim" pkg="turtlesim" type="turtlesim_node" output="log"/>  
    <!-- Run the teleop_key using keyboard -->
    <node name="Task_03_-Travel_With_Boundries" pkg="turtlesim_my_controllers_pde4430_cw1" type="turtlesim_travelWithBoundries.py" output="screen"/>
</launch>
